<!--users/templates/users/register.html-->

{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>






<div class = 'col-sm-12 my-auto'>
<table class = ' table table-light' >
    <tr>
        <td>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Register">
            </form>
        </td>
    </tr>

    <tr>
        <td><a href="{% url 'login' %}">Back to login</a></td>
    </tr>
</table>
</div>



{% endblock %}
