<!--users/templates/base.html-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
    li {
        display: inline;
    }

    .table{
        margin-bottom: auto;
    }
</style>

<body>
    <table class = 'table table-responsive' style="background-color:#99edff;">
            
        <tr>
            <th>Welcome to Eye on Salary Website</th> 
            <th class="text-right">Hello, {{ user.username|default:'Guest' }}! </th>
        </tr>
    </table>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li><a class="navbar-link" href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a class="navbar-link" href="{% url 'password_change' %}">Change password</a></li>
                    <li><a class="navbar-link"  href="{% url 'logout' %}">Logout</a> </li>

                {% else %}
                    <li><a class="navbar-link" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav


</body>




{% block content %}
{% endblock %}
